<% include header %>



<div class="post-description">
<h1>About</h1>
<p>This is where I write about technology, economics, programming, software architecture, etc., you get the idea.</p>

<h3><b>The story</b></h3>
<p>For those of you that are curious about the name ducktaped.io, here is it's story. The name comes from a joke made during my early days of college regarding how most software my friends and I encountered (or wrote) felt like it was held together by <i>duct tape</i>. When the time came to name my site it felt like an obvious choice to choose <i>duct tape</i>. As you can image the name was already taken so I made a small unnoticable change. ;)</p>

<h3><b>Do it yourself</b></h3>
<p>Interested in running this blog on your website? Want to pull the source code? Or Maybe you'd like to make some enhancements...</p> 
<p>Visit project <a href="https://github.com/j-diaz/outlet">outlet</a> on my github account for more information. This project is influenced by examples shown in the book "<i>Practical Node.js Building Real-World Scalable Web Apps</i>" by Azat Mardan. This website is built using <i>pureccs</i> templates.</p>

<h3><b>Disclaimer</b></h3>
<p><b>NOTE:</b> The articles written here represent solely my own thoughts and <b>do not</b>, in anyway, reflect that of my employer.</p>
</div>
<% include footer %>
