<% include header %>

<h1>DUCK TAPED I/O</h1>
	
<p>
DUCK TAPED I/O is the blog of software engineer Jose R. Diaz Palacios. This is where I write about technology and mostly software.
</p>

<% include footer %>