<% include header %>

<h1>About</h1>
	

<h3>This is where I write about technology, economics, programming, software architecture, etc. you get the idea.</h3>
<br>

<p>Interested in running this blog on your website? Want to pull the source code? Or Maybe you'd like to make some enhancements...</p> 
<p>Visit project <a href="https://github.com/j-diaz/outlet">outlet</a> on my github account for more information. This project is influenced by examples shown in the book "<i>Practical Node.js Building Real-World Scalable Web Apps</i>" by Azat Mardan. This website is built using <i>pureccs</i> templates.</p>

<% include footer %>
