<% include header %>
 
    <% if(article){ %>
   
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Pinned Post</h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                    
                        <h2 class="post-title"><%= article.title %></h2>

                        <p class="post-meta">
                            By <a href="#" class="post-author"><%= article.author %></a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p><%= article.preview %></p>
                        <p> <!-- display each article element e.g. parragraph, img -->
                           <% article.body.forEach(function(elem){   %>
                           <%     var a = Object.keys(elem);         %>
                           <%     var name = a[0];                   %>        
                           <%=    elem[name]                         %>  
                           <% }); %>
                        </p>
                    </div>
                </section>
            </div>
            <!-- /news section -->
            <%  } else { %>
             This article is temporarily unavailable <a href="/post">here</a>
        <% } %>
            

<% include footer %>
