<% include header %>
 
<div class="post-description">
<h1>Find me on:</h1>
<h1><a href="http://www.twitter.com/J_Diaz30">Twitter</a> </h1>
<h1><a href="https://github.com/j-diaz"> Github</a></h1>
</div>
<% include footer %>
