<h1> Post you article here! </h1>
<form action='/post' method='POST'>
	
	title: <br>
	<input type="text" name="title" id=title1>
	body: <br>
	<input type="text" name="body">
	author: <br>
	
	<input type="text" name="author">

	<br><br>
	<input type="submit" value="Submit">
</form>